<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.meisterfuu.animexx"
    android:versionCode="58"
    android:versionName="1.8.5" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="de.meisterfuu.animexx.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="de.meisterfuu.animexx.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- This app has permission to register and receive message -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="de.meisterfuu.animexx.permission.ENS_NOTIFY"
        android:description="@string/enspermission"
        android:icon="@drawable/ic_launcher"
        android:label="@string/enspermsissionl"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="dangerous" >
    </permission>

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AnimexxStyle" >
        <activity
            android:name="de.meisterfuu.animexx.AnimexxActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.RequestTokenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <data
                    android:host="callback"
                    android:scheme="animexx" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.Menu"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.about"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.Debug"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.Main"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.ENS.ENSSync"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.other.Feedback"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.ENS.ENSActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.ENS.ENSEingangFragment"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.ENS.ENSAusgang"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.ENS.ENSSingle"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <data
                    android:host="ViewENS"
                    android:scheme="animexx" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.ENS.bla"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.ENS.ENSAnswer"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.ENS.ENSMenu"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.profil.UserSteckbrief"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.GB.GBViewList"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.other.KaroTalerAlert"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.GB.GBViewSingle"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.GB.GBAnswer"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.other.Settings"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.other.ContactList"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.Home.ContactsActivityList"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.Home.PersonalHomeListAll"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.Home.HomeKontaktFragment"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.RPG.RPGViewList"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.RPG.RPGViewCharaList"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.other.SingleImage"
            android:label="@string/title_activity_single_image"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.RPG.RPGViewPostList"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.RPG.RPGViewPostListStart"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.events.EventViewList"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.events.EventViewDetail"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity android:name="de.meisterfuu.animexx.TableView" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.Share.SharePicture"
            android:configChanges="orientation|keyboardHidden"
            android:label="Animexx"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="de.meisterfuu.animexx" />
            </intent-filter>
        </receiver>

        <service android:name="de.meisterfuu.animexx.GCMIntentService" />

        <receiver
            android:name="de.meisterfuu.animexx.ENSNotify"
            android:permission="de.meisterfuu.animexx.permission.ENS_NOTIFY" >
            <intent-filter>
                <action android:name="de.meisterfuu.animexx.ensnotify" />
            </intent-filter>
        </receiver>
        <receiver android:name="de.meisterfuu.animexx.other.KaroTaler" >
            <intent-filter>
                <action android:name="de.meisterfuu.animexx.karotaler" />
            </intent-filter>
        </receiver>

        <activity
            android:name="de.meisterfuu.animexx.overview.OverviewActivity"
            android:label="@string/title_activity_overview"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.events.EventEditNote"
            android:label="@string/title_activity_event_edit_note" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.Home.HomeKontaktActivity"
            android:label="@string/title_activity_home_kontakt"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.Home.HomeKontaktDetailFragment"
            android:label="@string/title_activity_home_kontakt_detail_fragment" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.Home.HomeKontaktNewFragment"
            android:label="@string/title_new_microblog" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.Home.HomeKontaktBigFragment"
            android:label="@string/title_activity_home_kontakt_big" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.overview.OverviewCardActivity"
            android:label="@string/title_activity_overview_card"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.fanworks.Fanart"
            android:label="@string/title_activity_fanart" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.fanworks.FanartKommentare"
            android:label="@string/title_activity_fanart_kommentare" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.RPG.RPGNewPost"
            android:label="@string/title_activity_rpgnew_post"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.other.KarotalerActivity"
            android:label="@string/title_activity_karotaler" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.profil.UserCardSteckbrief"
            android:label="@string/title_activity_user_card_steckbrief" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.events.EventViewCardDetail"
            android:label="@string/title_activity_event_view_card_detail" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.events.EventViewPage"
            android:label="@string/title_activity_event_view_page" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.AIDB.MangaViewList"
            android:label="@string/title_activity_manga_view_list" >
        </activity>
        <activity
            android:name="de.meisterfuu.animexx.AIDB.MangaBandViewList"
            android:label="@string/title_activity_manga_band_view_list" >
        </activity>
    </application>

</manifest>